{% extends "base.html" %} 

{% block title %}login{% endblock %} 

{% block content %}

<div style="min-height: 80.3vh; display: flex; justify-content: center; align-items: center; background-color: #5e6d76;">
    <div class='w-25'>
        <form class="border p-4 rounded shadow-sm bg-light">
      <div class="mb-3">
        <label for="inputEmail3" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your email">
      </div>
      <div class="mb-3">
        <label for="inputPassword3" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword3" placeholder="Enter your password">
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
    </div>
</div>

{% endblock %}
